.all-leagues {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 1em
}

.league {
    height: 200px;
    width: 300px;
    background-color: whitesmoke;
    border: 1px solid lightgray;
    border-radius: 10px;
    box-shadow: 3px 3px 10px gray;
    margin-left: 10px;
    padding: 10px
}

/* .logo-div{
    height: 60%
} */

.league .info-div{
    text-align: center
}

.league .info-div p{
    color: gray
}

.league .info-div h6{
    color: black
}