.img-part img {
    height: 300px;
    width: 100%;
    filter: blur(2px)
}

.img-part {
    position: relative;
}

.img-heading {
    position: absolute;
    top: 50%;
    color: white;
    width: 100%;
    text-align: center
}

.all-leagues {
    background-color: rgb(5, 5, 58);
    padding-top: 20px
}